# MATCH SCORE PREDICTOR

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
import os
df = pd.read_csv("ipl2017.csv", index_col = 0)
df.head()

,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
mid,,,,,,,,,,,,,,
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [2]:
os.getcwd()

'C:\\Users\\hp\\Documents\\VERZEO'

#  Handling missing values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76014 entries, 1 to 617
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            76014 non-null  object
 1   venue           76014 non-null  object
 2   bat_team        76014 non-null  object
 3   bowl_team       76014 non-null  object
 4   batsman         76014 non-null  object
 5   bowler          76014 non-null  object
 6   runs            76014 non-null  int64
 7   wickets         76014 non-null  int64
 8   overs           76014 non-null  float64
 9   runs_last_5     76014 non-null  int64
 10  wickets_last_5  76014 non-null  int64
 11  striker         76014 non-null  int64
 12  non-striker     76014 non-null  int64
 13  total           76014 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 8.7+ MB

# Removing unnecessary columns

In [4]:
df = df.drop(["date","venue"],axis=1)
df.head()

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
mid,,,,,,,,,,,,
1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

#  Converting non numeric columns into numeric columns

In [5]:
df = pd.get_dummies(df,columns = ["bat_team","bowl_team","batsman","bowler"])
df.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
mid,,,,,,,,,,,,,,,,,,,,,
1,1,0,0.1,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.2,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.3,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.4,2,0,0,0,222,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76014 entries, 1 to 617
Columns: 776 entries, runs to bowler_Z Khan
dtypes: float64(1), int64(7), uint8(768)
memory usage: 60.9 MB

In [7]:
df.shape

(76014, 776)

# Extracting

In [8]:
y = df["total"]
X = df.drop("total", axis = 1)

In [9]:
X.shape

(76014, 775)

In [10]:
X.to_csv("NewDataset2.csv", encoding = "utf-8")

# Data splitting

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Scalling

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Random forest regressor

In [13]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
forest.fit(X_train,y_train)

RandomForestRegressor()

# Score checking

In [14]:
forest.score(X_test,y_test)

0.921190322241069

# New dataset prediction

In [15]:
NewDataset = pd.read_csv("NewDataset2.csv", index_col = 0)
NewDataset.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,bat_team_Delhi Daredevils,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
mid,,,,,,,,,,,,,,,,,,,,,
1,1,0,0.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.3,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.4,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
NewDataset.shape

(76014, 775)

In [20]:
forest.predict(NewDataset)

array([199.94, 199.94, 215.69, ..., 245.  , 245.  , 244.89])